*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

#card-container {
	height: 100vh;
	width: 75%;
	background: lightgray;
	display: inline-block;
}

.card-box {
	height: 25vh;
	width: 25%;
	padding: 5px;
	display: inline-block;
}

.card {
	background: navy;
	width: 100%;
	height: 100%;
	transition: all .25s;
	border-radius: 15px;
}

#sidebar {
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	background: darkslategray;
	height: 100vh;
	color: white;
	font-family: Tahoma, sans-serif;
}

#scoreboard {
	font-size: 28px;
}

.dead-card {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 2px;
}

#winnerboard {
	font-size: 16px;
	padding-left: 10px;
}
